@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.container {
    display: block;
    width: 314px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0 0px 100px rgba(0, 0, 0, 1);
    transition: all 0.5s ease;
}

.sidebar, .player, .lyrics-container {
    flex: 1;
    padding: 10px;
}

.sidebar {
    overflow-y: auto;
}

#song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 365px;
}

#song-list li {
    color:#fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#song-list li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: fit-content;
    margin:3px
}
.head-player {
    height: 385px;
}

.player-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-img img {
    object-fit: cover;
    border-radius: 20px;
    height: 80%;
    width: 80%;
    opacity: 0;
}

.player-img:hover img {
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img img.active {
    opacity: 1;
}

.player-img img.active1 {
    height: 100%;
    width: 100%;
    opacity: 1;
}


h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 36px 0 0;
    color:#fff;
}

h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 4px 0;
    color:#fff;
}

.player-progress {
    background-color: #ffffff59;
    border-radius: 5px;
    cursor: pointer;
    height: 5px;
    width: 100%;
    color:#cecece;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.volume-progress:active {
    height: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng khi nhấn giữ */
}
.music-duration {
    display: flex;
    justify-content: space-between;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 26px 0px 26px;
}

span#current-time {
    font-size: 10px;
    margin: 3px 0px 0px ;
}

span#duration{
    font-size: 10px;
    margin: 3px 0px 0px ;
}

.fa-solid {
    font-size: 20px;
    color: #666;
    margin: 0 15px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    color:#fff;
    margin:0px 24px 0px;
}

.fa-solid:hover {
    filter: brightness(40%);
}

.play-button {
    font-size: 32px;
}

.lyrics-container {
    height: 365px;
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding: 10px;
    scrollbar-width: thin; /* Cho Firefox: thanh cuộn mỏng */
    scrollbar-color: transparent transparent; /* Cho Firefox: thanh cuộn trong suốt */
    border-radius: 25px ;
    background-color:transparent;
}

/* Cho Chrome, Safari và Edge */
.lyrics-container::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng thanh cuộn */
}

.lyrics-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Thanh cuộn trong suốt */
    border-radius: 10px; /* Làm tròn các góc thanh cuộn */
}

.lyrics-container::-webkit-scrollbar-track {
    background: transparent; /* Nền của thanh cuộn */
}

/* Khi người dùng cuộn, thanh cuộn sẽ xuất hiện */
.lyrics-container.scrolling::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Thanh cuộn với màu nền khi cuộn */
}

.lyrics-container p {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    color:#fff;
}

.lyrics-container p.active {
    opacity: 1;
    font-weight: bold;
    color: #fff;
}

.volume-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    width: 100%;
}

.volume-control i {
    margin: 0 10px;
    font-size: 8px;
}

#volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #fff 50%, #ffffff59 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    outline: none;
    position: relative;
    transition: height 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

#volume-slider::-moz-range-thumb {
    width: 0;
    height: 0;
}

#volume-slider::-ms-thumb {
    width: 0;
    height: 0;
}

#volume-slider:active {
    height: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng khi nhấn giữ */
}
.button {
    display: flex; 
    justify-content: center;
    margin-top: 28px;
    gap: 22px;
}

#toggle-sidebar,#toggle-connections {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    color: #000; 
}


#toggle-lyrics {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000; 
}

.sidebar {
    display: none; 
}
.player {
    display:block; 
}
.lyrics-container {
    display: none; 
}
